<div class="container-fluid panel-body" style="padding-bottom:0px">
    <form class="form-horizontal validation-form" id="formAdd" action="#" method="post">
        <div class="panel panel-default" style="margin-bottom: 0px">
            <h4 class="panel panel-heading h4font" >
                字典新增<small>（＊星号是必填项）</small>
            </h4>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label"><span style="color: red;font-weight: bold">＊</span>字典类型</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="dictKey" placeholder="字典类型" >
                    </div>
                    <label class="control-label">（输入类型是
                        字母、数字、下划线或它们的组合，最少3位，最长64位）</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"><span style="color: red;font-weight: bold">＊</span>字典值</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="newDictValue" placeholder="字典值" >
                    </div>
                    <label class="control-label">（输入类型是汉字、字母、数字、下划线或它们的组合，最长128位）</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"><span style="color: red;font-weight: bold">＊</span>字典注释</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="comments" placeholder="字典注释" >
                    </div>
                    <label class="control-label">（输入类型是汉字、字母、数字、下划线或它们的组合，最长256位）</label>
                </div>


                <div class="form-group">
                    <label class="col-sm-1 control-label"><span style="color: red;font-weight: bold">＊</span>字典状态</label>

                    <div class="col-sm-6">
                        <label class="radio-inline">
                            <input type="radio" value=0 name="deleted" checked >有效
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value=1 name="deleted">无效
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <br/>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-1">
                <button name="submit" type="submit" class="btn btn-primary">提 交</button>
            </div>

            <div class="col-sm-1">
                <button name="backToList" type="button" class="btn btn-primary">返 回</button>
            </div>
        </div>


    </form>

</div>




<script type="application/javascript">

    $(function () {
        $('button[name="backToList"]').click(function (e) {
            var url="/dict/list";
            $('#container').load(url);

        });
        var $dictFrom =  $('form[id="formAdd"]');
        $dictFrom.ajaxForm(function (data) {
            if(data!=0)
            {
                $('#container').load(data);
            }
            else
            {
                alert("数据提交失败！");
            }
        });

        $dictFrom.bootstrapValidator({
            message: '这是无效输入值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                dictKey: {
                    message: 'The dictKey is not valid',
                    validators: {
                        notEmpty: {
                            message: '字典类型不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 64,
                            message: '字典类型长度必须在3到64之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '字典类型由数字字母下划线和.组成'
                        }
                    }
                },
                newDictValue: {
                    message: 'name is not valid',
                    validators: {
                        notEmpty: {
                            message: '字典内容不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 128,
                            message: '字典内容必须在3到128之间'
                        }

                    }
                },
                comments: {
                    message: 'password is not valid',
                    validators: {
                        notEmpty: {
                            message: '字典注释不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 256,
                            message: '字典注释必须在6到256之间'
                        }
                    }
                }

            }
        });

        $('button[name="submit"]').click(function (e) {
            var fallbackUrl = "/dict/list";
            var dictKey = $('input[name="dictKey"]').val();
            var newDictValue = $('input[name="newDictValue"]').val();
            var comments = $('input[name="comments"]').val();
            var deleted = $('input[name="deleted"]:checked').val();
            if(dictKey==='' || newDictValue==='' || comments===''){
                return;
            }
            var temp = {
                dictKey: dictKey,
                newDictValue: newDictValue,
                comments: comments,
                deleted: deleted
            };
            var json = JSON.stringify(temp);
            $.ajax({
                type:"post",
                url: "/trcs/dict/addTransferDict",
                contentType: "application/json;charset=UTF-8",
                data: json,
                dataType: "json",
                success: function (result) {
                    $('#container').load(fallbackUrl);
                },
                error: function (result) {
                    $('#container').load(fallbackUrl);
                }
            });
        });

        $("form.validation-form").each(function() {
            var $form = $(this);
            $form.bootstrapValidator().on('success.form.bv', function(e) {
                // 阻止默认事件提交
                console.log("success.form.bv阻止默认事件提交");
                e.preventDefault();
            });
        });

    })
</script>
