<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <title>用户登录</title>

    <style>

        .divBorder {
            border: solid 1px rgba(12, 24, 255, 0.15);
            padding: 10px;
            margin-top: 10px;
            border-radius: 10px;
            text-align: center;
            vertical-align: middle;
        }

        .h4font {
            margin-top: 0px;
            font-family: 微软雅黑;
            font-weight: 500;
        }

        .center {
            padding: 20% 0;
        }

    </style>


</head>
<body>

<div class="container">
    <div class="row center">
        <div class="divBorder col-sm-offset-4 col-sm-4">
            <h3 class="panel panel-heading h4font">
                用户登录
            </h3>
            <h4 name="msg" th:text="${msg}"></h4>
            <form class="form-horizontal" method="post" action="/login/auth">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="userName" placeholder="请输入用户名称"
                           th:value="${userName}"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" th:value="${password}"
                           placeholder="请输入密码"/>
                </div>
                <br/>
                <input type="button" name="btnLogin" class="btn btn-lg btn-block btn-info" value="登 录" />
            </form>
        </div>


    </div>

</div>

<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/md5.js}"></script>
<script th:inline="javascript">
    $(function () {
        $('input[name="btnLogin"]').click(function () {
            var $userName = $('input[name="userName"]').val();
            var $password = $('input[name="password"]').val();
            if ($userName == "" || $password == "" ) {
                alert("用户名、密码不能为空！");
                return false;
            }
            var encryptedPwd = hex_md5($password);
            $.ajax({
                type: "post",
                url: "/login/auth",
                data: {userName: $userName, password: encryptedPwd},
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    window.location.href=result.data;
                },
                error: function (result) {
                    console.log(result);
                }
            });

        })
    })
</script>


</body>
</html>